.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__mdqYo {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__mdqYo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__mdqYo > :global(.__wab_flex-container) > *,
.freeBox__mdqYo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mdqYo > :global(.__wab_flex-container) > picture > img,
.freeBox__mdqYo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.freeBox__mdqYo {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mdqYo {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mdqYo > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mdqYo > :global(.__wab_flex-container) > *,
  .freeBox__mdqYo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mdqYo > :global(.__wab_flex-container) > picture > img,
  .freeBox__mdqYo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mdqYo {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__epoRc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__epoRc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__epoRc > :global(.__wab_flex-container) > *,
.freeBox__epoRc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__epoRc > :global(.__wab_flex-container) > picture > img,
.freeBox__epoRc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__epoRc {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-start;
  min-width: 0;
}
.text__loYEq {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text___1HyNl {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__momJ0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__uQzSp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__t7MWk:global(.__wab_instance) {
  position: relative;
}
.svg__a57Za {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bkOhj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__ltxAh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__ltxAh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ltxAh > :global(.__wab_flex-container) > *,
.freeBox__ltxAh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ltxAh > :global(.__wab_flex-container) > picture > img,
.freeBox__ltxAh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__ltxAh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.text__z9RoS {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox___3K3Qr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___3K3Qr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___3K3Qr > :global(.__wab_flex-container) > *,
.freeBox___3K3Qr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3K3Qr > :global(.__wab_flex-container) > picture > img,
.freeBox___3K3Qr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox___3K3Qr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__wlTkb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__mizPm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__fDElz:global(.__wab_instance) {
  position: relative;
}
.svg__s1Ey {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__oHlO5 {
  height: auto;
}
.svg___0VyXn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__m2Ugr:global(.__wab_instance) {
  position: relative;
}
.svg__psaJj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text___0YlrI {
  height: auto;
}
.svg__lXrWi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__b80Ae {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__b80Ae > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__b80Ae > :global(.__wab_flex-container) > *,
.freeBox__b80Ae > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b80Ae > :global(.__wab_flex-container) > picture > img,
.freeBox__b80Ae
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__b80Ae {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-start;
  min-width: 0;
}
.text__pPhpl {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__sZxzM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__sVlrK {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__sVlrK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__sVlrK > :global(.__wab_flex-container) > *,
.freeBox__sVlrK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sVlrK > :global(.__wab_flex-container) > picture > img,
.freeBox__sVlrK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__sVlrK {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.svg__fpW7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rNKd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__aSc5Y:global(.__wab_instance) {
  position: relative;
}
.svg___5WHnP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yHil {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___4LzHg:global(.__wab_instance) {
  position: relative;
}
.svg__szp7I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yoq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__g7Qt5:global(.__wab_instance) {
  position: relative;
}
.svg__hICc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__w2Tkq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___4Qn2G {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___4Qn2G > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___4Qn2G > :global(.__wab_flex-container) > *,
.freeBox___4Qn2G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4Qn2G > :global(.__wab_flex-container) > picture > img,
.freeBox___4Qn2G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox___4Qn2G {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.button___5DbVk:global(.__wab_instance) {
  position: relative;
}
.svg__tXd9Z {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1Hg8R {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__a9Ko:global(.__wab_instance) {
  position: relative;
}
.svg__jZ7ND {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__k88Kk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__za5M:global(.__wab_instance) {
  position: relative;
}
.svg__k1H3U {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vaA68 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
