.root {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 32px;
}
.root {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.freeBox__h7A2L {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__h7A2L > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__h7A2L > :global(.__wab_flex-container) > *,
.freeBox__h7A2L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h7A2L > :global(.__wab_flex-container) > picture > img,
.freeBox__h7A2L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__h7A2L {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.freeBox__eb4Vv {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__eb4Vv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__eb4Vv > :global(.__wab_flex-container) > *,
.freeBox__eb4Vv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eb4Vv > :global(.__wab_flex-container) > picture > img,
.freeBox__eb4Vv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__eb4Vv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.text {
  font-weight: 400;
  white-space: pre-wrap;
  color: #666666;
}
.freeBox__dwErZ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__knYg3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fjHos {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__t5J8:global(.__wab_instance) {
  position: relative;
}
.svg__bVznD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rPuOr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__i96Xg:global(.__wab_instance) {
  position: relative;
}
.svg__gv25A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iT4So {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__sWCv:global(.__wab_instance) {
  position: relative;
}
.svg__lVut {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__l7Ibi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
