.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section__yBjal {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__yBjal {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
.container432 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.container432 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.container432 > :global(.__wab_flex-container) > *,
.container432 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container432 > :global(.__wab_flex-container) > picture > img,
.container432
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.container432 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container432 {
    display: flex;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container432 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container432 > :global(.__wab_flex-container) > *,
  .container432 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container432 > :global(.__wab_flex-container) > picture > img,
  .container432
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container432 {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    min-width: 0;
    padding: 0px;
  }
}
.svg__l6ACu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg___24EbO {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__pPlgw {
  position: relative;
  color: #00000040;
}
.svg__dpKyL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__o2AnP {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__akZ7S {
  position: relative;
  color: #00000040;
}
.svg___7NlLn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg___9Avsy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.productBox:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.section__upoCc {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__upoCc {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
.columns {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    flex-wrap: wrap-reverse;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
.column__qqflK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox__mmSWf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__mmSWf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mmSWf > :global(.__wab_flex-container) > *,
.freeBox__mmSWf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mmSWf > :global(.__wab_flex-container) > picture > img,
.freeBox__mmSWf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__mmSWf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.productMedia:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  object-fit: cover;
}
.productMediaCollection:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  position: relative;
  padding: 8px;
}
.productMedia___5WVb7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.column__zVlld {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox__m4Tp9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__m4Tp9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__m4Tp9 > :global(.__wab_flex-container) > *,
.freeBox__m4Tp9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m4Tp9 > :global(.__wab_flex-container) > picture > img,
.freeBox__m4Tp9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__m4Tp9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.productTextField__rLg0T:global(.__wab_instance) {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  max-width: 100%;
  position: relative;
}
.productPrice:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  font-size: 20px;
  font-weight: 600;
}
.freeBox__zrx1E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__zrx1E > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__zrx1E > :global(.__wab_flex-container) > *,
.freeBox__zrx1E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zrx1E > :global(.__wab_flex-container) > picture > img,
.freeBox__zrx1E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__zrx1E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.text__arDyl {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.productVariantPicker:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 2rem;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__yU9TF {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__yU9TF > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__yU9TF > :global(.__wab_flex-container) > *,
.freeBox__yU9TF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yU9TF > :global(.__wab_flex-container) > picture > img,
.freeBox__yU9TF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__yU9TF {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yU9TF {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yU9TF > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yU9TF > :global(.__wab_flex-container) > *,
  .freeBox__yU9TF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yU9TF > :global(.__wab_flex-container) > picture > img,
  .freeBox__yU9TF
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yU9TF {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.freeBox__t1ZIq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__t1ZIq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__t1ZIq > :global(.__wab_flex-container) > *,
.freeBox__t1ZIq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t1ZIq > :global(.__wab_flex-container) > picture > img,
.freeBox__t1ZIq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__t1ZIq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.text___2Wuu {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.freeBox__cpFyj {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__cpFyj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__cpFyj > :global(.__wab_flex-container) > *,
.freeBox__cpFyj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cpFyj > :global(.__wab_flex-container) > picture > img,
.freeBox__cpFyj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.freeBox__cpFyj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.productQuantity:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__qw7Dk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__drbL3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___63W6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 20px;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.svg___77YvN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uqcgi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.addToCartButton___6C2G:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button__rWVse:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__az7Xj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bxEj2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.separator:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox___9Baue {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___9Baue > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___9Baue > :global(.__wab_flex-container) > *,
.freeBox___9Baue > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Baue > :global(.__wab_flex-container) > picture > img,
.freeBox___9Baue
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___9Baue {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text___7Ye8F {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  height: auto;
}
.productTextField__xeJni:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  text-align: justify;
  line-height: 2;
}
.section__aLhh1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__zXOd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__nsu5P {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button___0SeH:global(.__wab_instance) {
  position: relative;
}
.svg__tFtyM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yGe7L {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
.productCollection:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  padding: 32px;
}
.freeBox__cOuGj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 16px;
}
.productCard:global(.__wab_instance) {
  max-width: 100%;
}
.svg___5I2C {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rWhsT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__rc1Fk:global(.__wab_instance) {
  position: relative;
}
.productTextField__oEi56:global(.__wab_instance) {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  max-width: 100%;
  position: relative;
}
.productTextField__umY6G:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-H8dpZ84hbq_R-e);
}
.text___8Jfvi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___1Khmr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.footer:global(.__wab_instance) {
  position: relative;
}
