.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section__fgaiv {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 128px;
  background: linear-gradient(#ffffffcc, #ffffffcc),
    url("./images/hero.png") top 50% left 50% / cover repeat;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__fgaiv {
    padding-bottom: 0px;
  }
}
.container3 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container3 > :global(.__wab_flex-container) > *,
.container3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container3 > :global(.__wab_flex-container) > picture > img,
.container3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
.container3 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 32px;
}
.freeBox__bda9V {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__bda9V > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__bda9V > :global(.__wab_flex-container) > *,
.freeBox__bda9V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bda9V > :global(.__wab_flex-container) > picture > img,
.freeBox__bda9V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__bda9V {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.freeBox__jCiry {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__jCiry > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__jCiry > :global(.__wab_flex-container) > *,
.freeBox__jCiry > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jCiry > :global(.__wab_flex-container) > picture > img,
.freeBox__jCiry
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__jCiry {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 1.25;
  position: relative;
  text-align: center;
}
.text___4GCwe {
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--token-inybeerrUdi34e);
  min-width: 0;
}
.button___6WFC:global(.__wab_instance) {
  position: relative;
}
.svg___34Oop {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__m2Ejg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section___5NX5 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
  padding: 32px;
}
.container4 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__o6Xva {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__guOol {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__dWHzU:global(.__wab_instance) {
  position: relative;
}
.svg__dQkY5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uKaaG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1024px;
  min-width: 0;
  padding: 8px;
}
.productCollection__yrtzt:global(.__wab_instance) {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: 32px;
  grid-column-gap: 32px;
  max-width: 100%;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCollection__yrtzt:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.productCard___9NVz4:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wzFk9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__h4L5H {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__uYiOx:global(.__wab_instance) {
  position: relative;
}
.productTextField__qDgkC:global(.__wab_instance) {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  max-width: 100%;
  position: relative;
}
.productTextField__oCuM3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-H8dpZ84hbq_R-e);
}
.text__z7ITw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__byqCk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__k3M57 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#000000d9, #000000d9),
    url("https://images.unsplash.com/photo-1612902376491-7a8a99b424e8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fHNob2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60")
      left 50% top 50% / cover;
}
.freeBox__qCjuO {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.freeBox__qCjuO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__qCjuO > :global(.__wab_flex-container) > *,
.freeBox__qCjuO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qCjuO > :global(.__wab_flex-container) > picture > img,
.freeBox__qCjuO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__qCjuO {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qCjuO {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qCjuO > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qCjuO > :global(.__wab_flex-container) > *,
  .freeBox__qCjuO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qCjuO > :global(.__wab_flex-container) > picture > img,
  .freeBox__qCjuO
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qCjuO {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
.freeBox__cjs1S {
  display: flex;
  flex-direction: column;
}
.freeBox__cjs1S > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__cjs1S > :global(.__wab_flex-container) > *,
.freeBox__cjs1S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cjs1S > :global(.__wab_flex-container) > picture > img,
.freeBox__cjs1S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__cjs1S {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.freeBox__lCoZp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lCoZp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__lCoZp > :global(.__wab_flex-container) > *,
.freeBox__lCoZp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lCoZp > :global(.__wab_flex-container) > picture > img,
.freeBox__lCoZp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__lCoZp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text__gsKf4 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}
.text__uBEb {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  white-space: pre-wrap;
  position: relative;
  color: #cccccc;
  height: auto;
  text-align: center;
}
.freeBox__iOxAp {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__iOxAp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__iOxAp > :global(.__wab_flex-container) > *,
.freeBox__iOxAp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iOxAp > :global(.__wab_flex-container) > picture > img,
.freeBox__iOxAp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.freeBox__iOxAp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iOxAp {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iOxAp > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iOxAp > :global(.__wab_flex-container) > *,
  .freeBox__iOxAp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iOxAp > :global(.__wab_flex-container) > picture > img,
  .freeBox__iOxAp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iOxAp {
    display: flex;
    flex-direction: column;
  }
}
.text__jlkcq {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: #cccccc;
  height: auto;
  white-space: pre-wrap;
  text-align: center;
}
.svg__jC73 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1OyJb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.emojiValueProps:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.columns {
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1024px;
  min-width: 0;
  padding: 32px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-wrap: nowrap;
  max-width: 1024px;
  min-width: 0;
  padding: 32px;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 12px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__eNgfH {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__bghwn:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__r4Dcj {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__y6Swl {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__lOduu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__hiNqb:global(.__wab_instance) {
  position: relative;
}
.svg__yYx2G {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jrAlg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__qiBub {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__fJ1Fo:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__mbmmG {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__kUzj4 {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__uYVx1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__r4BTb:global(.__wab_instance) {
  position: relative;
}
.svg__qhyCo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aNfk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__glm3P {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__nutcS:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__nutcS:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__fo4V2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__hN7U {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__mRZeP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__fpm2O:global(.__wab_instance) {
  position: relative;
}
.svg__fQYpw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gqXt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__yiphW {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__pakq {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__jKg9O {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__qzTi:global(.__wab_instance) {
  position: relative;
}
.svg__j5U1Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3NX6G {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.productCollection___4HlEd:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  padding: 32px;
}
.freeBox__tnd3V {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 16px;
}
.productCard__wafSf:global(.__wab_instance) {
  max-width: 100%;
}
.svg__rcghk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hS4Vo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__fEtWo:global(.__wab_instance) {
  position: relative;
}
.productTextField__npPay:global(.__wab_instance) {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  max-width: 100%;
  position: relative;
}
.productTextField__pta2J:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-H8dpZ84hbq_R-e);
}
.text__idjHb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___82Gfr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__l4Att {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  max-width: 1366px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.container6 {
  max-width: 1366px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__j8S0W {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__j8S0W > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__j8S0W > :global(.__wab_flex-container) > *,
.freeBox__j8S0W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j8S0W > :global(.__wab_flex-container) > picture > img,
.freeBox__j8S0W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__j8S0W {
  display: flex;
  position: relative;
  flex-direction: column;
}
.text__la04 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__enL81:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__jzBsH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__dxset {
  height: auto;
}
.svg___8P5S1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.categoryCollection:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8px;
  max-width: 100%;
  position: relative;
  padding: 0px;
}
.button__sxX7R:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__zwf7F {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.categoryField:global(.__wab_instance) {
  max-width: 100%;
}
.svg__b83LJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___3SIip {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__zvUgC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.productCollection__bEqMm:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  max-width: 100%;
  position: relative;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCollection__bEqMm:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.productCard__vkz51:global(.__wab_instance) {
  max-width: 100%;
}
.svg__emjVo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__s6Ba0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__uUnHk:global(.__wab_instance) {
  position: relative;
}
.productTextField__yjVwq:global(.__wab_instance) {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  max-width: 100%;
  position: relative;
}
.productTextField__pugtb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-H8dpZ84hbq_R-e);
}
.text__iDiG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__x1Kky {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__lW9T {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#00000080, #00000080),
    url("https://images.unsplash.com/photo-1552346154-21d32810aba3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80")
      left 50% top 50% / cover;
}
.container434 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container434 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container434 > :global(.__wab_flex-container) > *,
.container434 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container434 > :global(.__wab_flex-container) > picture > img,
.container434
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.container434 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.value__twzl8:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__uCyH {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  width: 100%;
  height: auto;
  color: #ffffff;
  min-width: 0;
}
.text__hs05M {
  color: #cccccc;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__zHsTd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__jdOea:global(.__wab_instance) {
  position: relative;
}
.svg__cHmg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eCld {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__hTdVa {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
}
.container433 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.container433 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container433 > :global(.__wab_flex-container) > *,
.container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container433 > :global(.__wab_flex-container) > picture > img,
.container433
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.container433 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > *,
  .container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container433 > :global(.__wab_flex-container) > picture > img,
  .container433
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
.column__hiByl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__bFuqG:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__bFuqG:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__nxGk {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__lmE2L {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__y70Dw:global(.__wab_instance) {
  position: relative;
}
.svg__lu1Jv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lbXW {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__wtJt1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__nulsl:global(.__wab_instance) {
  position: relative;
}
.svg__zOFsN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hvAmS {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column___62GF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__lrSgD:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__lrSgD:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__qLoU3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__rhFbT {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__yIFmS:global(.__wab_instance) {
  position: relative;
}
.svg___50Atp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wm71C {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__mYmHg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button___5Zc7X:global(.__wab_instance) {
  position: relative;
}
.svg__jz177 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vOokx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__ydKAv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__qjCz6:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__qjCz6:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__jGsAh {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__ptEn1 {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button___21FyI:global(.__wab_instance) {
  position: relative;
}
.svg__rNiJg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ri8Jx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___9SBVb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__w9Wt2:global(.__wab_instance) {
  position: relative;
}
.svg__lz0QU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ktcX {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__ljG0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__nlje7:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__nlje7:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__qocpd {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__p4X2K {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__bAjid:global(.__wab_instance) {
  position: relative;
}
.svg__e6UfZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0QqQb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__jGKmw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__lZj1C:global(.__wab_instance) {
  position: relative;
}
.svg__etUO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__c0Jjl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
